section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

section .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.container-pesquisa {
    position: relative;
    display: flex;
    align-items: center;
}

.container-pesquisa input{
    padding-left: 35px;
}

h1{
    color: #ffd700;   
}

input[type="text"] {
    padding: 10px 40px 10px 20px;
    width: 100%; 
    border: 1px solid #ffd700;
    border-radius: 5px; 
    background-color: #1a1a1a; 
    color: #ffd700; 
}

.pequisa-icon {
    position: absolute;
    left: 10px; 
    height: 20px; 
    width: 20px; 
    pointer-events: none; 
    display: block;
    color: #ffd700; 
}

button {
    background-color: #ffd700;
    color: #1a1a1a; 
    font-weight: 550;
    border: none;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffc107; 
}

