<section>
    <div class="main-content">
        <h1>Sistema de Gerenciamento de Restaurante</h1>
        <div class="container-pesquisa">
            <input (keyup)="pesquisaMesa($event)" type="text" placeholder="Pesquisar...">
            <img src="/assets/icon-search.svg" alt="Buscar" class="pequisa-icon">
            <button (click)="abrirPedidosFeitos()">Ver Pedidos Realizados</button>
        </div>

        <app-card-pedidos [mostrar]="mostrarPedidos" [pedidos]="pedidos" (fecharModalEvent)="fecharModal()"></app-card-pedidos>
    </div>
</section>
